<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="myTraceSource" switchName="defaultSwitch">
        <listeners>
          <add initializeData="output.txt" 
               type="System.Diagnostics.TextWriterTraceListener" name="myLocationListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warnning"/>
          </add>
        <add name="consoleListener"></add>
        <remove name="Default"></remove>
        </listeners>
      </source>
    </sources>
  <sharedListeners>
    <add initializeData="output.xml" type="System.Diagnostics.XmlWriterTraceListener"
         name="XmlListener" traceOutputOptions="None"></add>
  <add type="System.Diagnostics.ConsoleTraceListener" name="ConsoleListener" 
       traceOutputOptions="None"></add>
  </sharedListeners>
  <switches>
    <add name="defaultSwitch" value="All"/>
  </switches>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>